@font-face {
  font-family: "chelsy";
  src: url(Fonts/Chelsy.ttf) format("truetype");
}
@font-face {
  font-family: "willstand";
  src: url(Fonts/Willstand\ Sans.ttf) format("truetype");
}

$primary-font: "chelsy";
$secondary-font: "willstand";
