@use "_variables.scss" as *;
@use "_typography.scss" as *;
@use "_header.scss" as *;

* {
  margin: 0;
  font-family: $primary-font;
  padding: 0;
}

body {
  // background-color: $color-senary;
  color: $color-secondary;
  background-color: $color-primary;
  max-width: 100vw;
  width: 100vw;
  main {
    .main__jsd {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70vh;
      h1 {
        margin: 20% 0 0 10%;
        font-family: $secondary-font;
        font-size: 60px;
        font-weight: 700;
      }
      p {
        margin: 10%;
        font-size: 25px;
        font-weight: lighter;
        text-align: justify;
      }
    }
  }
  .main__portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-tertiary;
    margin: 30% 0 0 0;
    height: 70vh;

    #underline {
      border-bottom: 2px solid $color-primary;
      width: 15vh;
      margin: 0;
    }
    &--title {
      display: flex;
      align-items: center;
      margin: 10% 0 0 0;
      font-family: $secondary-font;
      font-size: 50px;
      font-weight: 500px;
      font-variant: small-caps;
    }
    .main__portfolio__project {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      margin: 50px 0 20px 0;

      .blankbox {
        display: flex;
        justify-content: space-around;
        background-color: $color-primary;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
      }

      .main_eachportfolio {
        margin: 10px 0 0 0;

        .button__react {
          color: $color-secondary;
          background-color: $color-quaternary;
          border-radius: 5px;
          text-decoration: none;
          // padding: 3px;
          border-style: hidden;
          margin: 5px 0 5px 0;
        }
        .button__javascript {
          color: $color-secondary;
          background-color: $color-quinary;
          border-radius: 5px;
          text-decoration: none;
          // padding: 3px;
          border-style: hidden;
        }
      }
    }
  }
  .main__aboutHao {
    margin: 25% 0 0 0;
    .aboutme {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $secondary-font;
      font-size: 50px;
      font-weight: 500;
      font-variant: small-caps;
    }
    .aboutme__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      #haopic {
        max-width: 150px;
        max-height: 150px;
        margin: 10% 2% 10% 10%;
        font-size: 30px;
        border-radius: 100%;
      }
      &--p {
        margin: 10% 10% 10% 2%;
        font-size: 20px;
        text-align: justify;
      }
    }
  }
  .main__experience {
    &--heading {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 80px 0 0 0;
      font-size: 50px;
      font-weight: 500;
      font-family: $secondary-font;
      font-variant: small-caps;
    }
    #underline__experience {
      border-bottom: 2px solid $color-tertiary;
      width: 35%;
      margin: 0 0 10% 32%;
    }

    &--jobs {
      width: calc(100vw - 40px);
      display: flex;
      justify-content: space-between;
      background-color: $color-quaternary;
      font-size: 20px;
      padding: 20px;
      font-weight: lighter;
      border-top: 1px solid $color-primary;
      border-bottom: 1px solid $color-primary;
      color: $color-secondary;
    }
  }
  .main__hobbies {
    &--title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 80px 0 0 0;
      font-size: 50px;
      font-weight: 500;
      font-family: $secondary-font;
      font-variant: small-caps;
    }
    #underline {
      border-bottom: 2px solid $color-tertiary;
      width: 30%;
      margin: 0 0 10% 35%;
    }
    &--cluster {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 30px 0 0 0;

      .hobbies__images {
        width: 150px;
        height: 150px;
        object-fit: cover;
        // object-position: 25% 25%;
        border: 1px solid $color-primary;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-tertiary;
  color: $color-secondary;
  margin: 30% 0 0 0;
  padding: 20px;

  font-size: 25px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: $color-secondary;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 20vh;

  #header__name {
    color: $color-secondary;
    font-family: $secondary-font;
    font-size: 80px;
    font-weight: 900;
  }
  #header__buttons {
    display: none;
  }
  .header__burger {
    // display: flex;
    // align-items: center;

    a {
      color: $color-secondary;
      font-family: $secondary-font;
      font-size: 0;
      font-weight: 200;
    }
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
}

// @media only screen and (min-width: 820px) {
//   #navlinks {
//     display: none;
//   }
//   #header__buttons {
//     display: contents;
//   }
// }
