* {
  margin: 0;
  padding: 0;
}

body .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d5bdaf;
  padding: 20px;
}
body .header a:link,
body .header a:visited,
body .header a:hover,
body .header a:active {
  text-decoration: none;
}
body .header a {
  color: #4a4e69;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
body main .main_jsd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #9a8c98;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
}
body main .main_jsd h1 {
  margin: 80px 0px 20px 50px;
}
body main .main_jsd p {
  margin: 10px 0px 20px 50px;
}

body {
  background-color: #f2e9e4;
  color: #4a4e69;
}

#haopic {
  max-width: 200px;
  max-height: 200px;
}