@use "_variables.scss" as *;
@use "_typography.scss" as *;

* {
  margin: 0;
  font-family: $primary-font;
  padding: 0;
}

body {
  background-color: $color-senary;
  color: $color-quaternary;

  main {
    .main__jsd {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-tertiary;
      margin: 40px 20px 20px 20px;
      border-radius: 20px;
      width: 92vw;
      height: 40vh;
      h1 {
        margin: 80px 0px 20px 50px;
      }
      p {
        margin: 10px 0px 20px 50px;
      }
    }
  }
  .main__portfolio {
    &--title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin: 80px 0 10px 0;
    }
    .main__portfolio__project {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      margin: 20px;
      .main_eachportfolio {
        margin: 20px;
        .button__react {
          color: $color-quinary;
          background-color: $color-quaternary;
          border-radius: 5px;
          text-decoration: none;
          padding: 3px;
          border-style: hidden;
        }
        .button__javascript {
          color: $color-quaternary;
          background-color: $color-quinary;
          border-radius: 5px;
          text-decoration: none;
          padding: 3px;
          border-style: hidden;
        }
      }
    }
  }
  .main__aboutHao {
    .aboutme {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0 35px 0;
    }
    .aboutme__content {
      display: flex;
      justify-content: space-around;
      #haopic {
        max-width: 150px;
        max-height: 150px;
        margin: 0 20px 20px 20px;
      }
      &--p {
        margin: 0 20px 20px 20px;
      }
    }
  }
  .main__experience {
    &--heading {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0 35px 0;
    }
    &--jobs {
      display: flex;
      justify-content: space-between;
      background-color: $color-quaternary;
      font-size: 15px;
      font-weight: lighter;
      padding: 15px;
      border: 2px solid $color-quaternary;
      border-top: 1px solid $color-primary;
      border-bottom: 1px solid $color-primary;
      color: #e8c2ca;
    }
  }
  .main__hobbies {
    &--title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0 20px 20px;
    }
    &--cluster {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 30px 0 0 20px;

      .hobbies__images {
        width: 150px;
        height: 150px;
        object-fit: cover;
        // object-position: 25% 25%;
        border: 1px solid $color-quaternary;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-primary;
  margin: 40px 0 0 0;
  padding: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-primary;
  #header__name {
    font-family: $secondary-font;
    font-size: 40px;
  }
  padding: 20px;
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
  a {
    color: $color-quaternary;
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: 600;
  }
}
