@font-face {
  font-family: "RabbitOaks";
  src: url(Fonts/Rabbit-Oaks-3976492/Rabbit\ Oaks.ttf) format("truetype");
}
@font-face {
  font-family: "chelsy";
  src: url(Fonts/Chelsy.ttf) format("truetype");
}
@font-face {
  font-family: "willstand";
  src: url(Fonts/Willstand\ Sans.ttf) format("truetype");
}
* {
  margin: 0;
  font-family: "chelsy";
  padding: 0;
}

body {
  color: #d9d9d9;
  background-color: #0a1128;
}
body main .main__jsd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}
body main .main__jsd h1 {
  margin: 80px 0px 30px 50px;
  font-family: "willstand";
  font-size: 70px;
  font-weight: 700;
}
body main .main__jsd p {
  margin: 10px 50px 20px 50px;
  font-size: 25px;
  font-weight: lighter;
  text-align: justify;
}
body .main__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #248277;
  margin: 70px 0 0 0;
}
body .main__portfolio #underline {
  border-bottom: 2px solid #0a1128;
  width: 15vh;
  margin: 0;
}
body .main__portfolio--title {
  display: flex;
  align-items: center;
  margin: 40px 0 0 0;
  font-family: "willstand";
  font-size: 50px;
  font-weight: 500px;
  font-variant: small-caps;
}
body .main__portfolio .main__portfolio__project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}
body .main__portfolio .main__portfolio__project .blankbox {
  display: flex;
  background-color: #0a1128;
  width: 150px;
  height: 150px;
}
body .main__portfolio .main__portfolio__project .main_eachportfolio {
  margin: 10px;
}
body .main__portfolio .main__portfolio__project .main_eachportfolio .button__react {
  color: #d9d9d9;
  background-color: #2a6f97;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
  border-style: hidden;
  margin-top: 5px;
}
body .main__portfolio .main__portfolio__project .main_eachportfolio .button__javascript {
  color: #d9d9d9;
  background-color: #22577a;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px;
  border-style: hidden;
}
body .main__aboutHao {
  margin: 50px 0 50px;
}
body .main__aboutHao .aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 45px 0;
  font-family: "willstand";
  font-size: 50px;
  font-weight: 500;
  font-variant: small-caps;
}
body .main__aboutHao .aboutme__content {
  display: flex;
  justify-content: space-around;
}
body .main__aboutHao .aboutme__content #haopic {
  max-width: 150px;
  max-height: 150px;
  margin: 20px 10px 20px 30px;
  font-size: 30px;
  border-radius: 100%;
}
body .main__aboutHao .aboutme__content--p {
  margin: 10px 20px 20px 10px;
  font-size: 20px;
}
body .main__experience--heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0 0;
  font-size: 50px;
  font-weight: 500;
  font-family: "willstand";
  font-variant: small-caps;
}
body .main__experience #underline__experience {
  border-bottom: 2px solid #248277;
  width: 35%;
  margin: 0px 0 20% 32%;
}
body .main__experience--jobs {
  display: flex;
  justify-content: space-between;
  background-color: #2a6f97;
  font-size: 20px;
  font-weight: lighter;
  padding: 20px;
  border: 2px solid #2a6f97;
  border-top: 1px solid #0a1128;
  border-bottom: 1px solid #0a1128;
  color: #d9d9d9;
}
body .main__hobbies--title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0 0;
  font-size: 50px;
  font-weight: 500;
  font-family: "willstand";
  font-variant: small-caps;
}
body .main__hobbies #underline {
  border-bottom: 2px solid #248277;
  width: 30%;
  margin: 0px 0 20% 35%;
}
body .main__hobbies--cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0 0 20px;
}
body .main__hobbies--cluster .hobbies__images {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #2a6f97;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #248277;
  color: #d9d9d9;
  margin: 15vh 0 0 0;
  padding: 30px;
  font-size: 25px;
}
.footer a:link,
.footer a:visited,
.footer a:hover,
.footer a:active {
  text-decoration: none;
  color: #d9d9d9;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header #header__name {
  color: #d9d9d9;
  font-family: "willstand";
  font-size: 80px;
  font-weight: 900;
  padding: 10%;
  margin-left: 10px;
}
.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  text-decoration: none;
}
.header a {
  color: #d9d9d9;
  font-family: "willstand";
  font-size: 0;
  font-weight: 200;
}
.header #navlinks {
  margin: 0 10vw 0 0;
  padding: 50% 100% 0 0;
}/*# sourceMappingURL=style.css.map */